{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="default-page-container" id="faq-container">
    <div id="faq-content">
        <h1 id="faq-heading">FAQ - click question for answers:</h1>
        <div class="faq-ul">
        <!-- Populates the FAQ list -->
        {% for faq in faqs %}
            <div class="faq-li">
                <details>
                    <summary class="faq-h2">{{ faq.question }}</summary>
                    <p class="faq-text">{{ faq.answer }}</p>
                </details>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}