<ul class="navbar-nav mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-lg-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                All Products
            </a>
            <div class="dropdown-menu border-0" role="menu" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-lg-5" href="#" id="TOS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                22nd & 23rd Centuries
            </a>
            <div class="dropdown-menu border-0" role="menu" aria-labelledby="TOS">
                <a href="{% url 'products' %}?category=enterprise" class="dropdown-item">Enterprise</a>
                <a href="{% url 'products' %}?category=discovery" class="dropdown-item">Discovery</a>
                <a href="{% url 'products' %}?category=snw" class="dropdown-item">Strange New Worlds</a>
                <a href="{% url 'products' %}?category=tos" class="dropdown-item">The Original Series</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-lg-5" href="#" id="tng-and-beyond" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                24th Century
            </a>
            <div class="dropdown-menu border-0" role="menu" aria-labelledby="tng-and-beyond">
                <a href="{% url 'products' %}?category=tng" class="dropdown-item">The Next Generation</a>
                <a href="{% url 'products' %}?category=voyager" class="dropdown-item">Voyager</a>
                <a href="{% url 'products' %}?category=ds9" class="dropdown-item">Deep Space Nine</a>
            </div>
        </li>
    </ul>
    