<ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-lg-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-lg-5" href="#" id="TOS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                22nd & 23rd Century Series
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="TOS">
                <a href="{% url 'products' %}?category=enterprise" class="dropdown-item">Enterprise</a>
                <a href="{% url 'products' %}?category=discovery" class="dropdown-item">Discovery</a>
                <a href="{% url 'products' %}?category=snw" class="dropdown-item">Strange New Worlds</a>
                <a href="{% url 'products' %}?category=tos" class="dropdown-item">The Original Series</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-lg-5" href="#" id="TNG and Beyond" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                24th Century Series
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="TNG and Beyond">
                <a href="{% url 'products' %}?category=tng" class="dropdown-item">The Next Generation</a>
                <a href="{% url 'products' %}?category=voyager" class="dropdown-item">Voyager</a>
                <a href="{% url 'products' %}?category=ds9" class="dropdown-item">Deep Space Nine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=all_specials" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>