<ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-lg-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-lg-5" href="#" id="TOS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                TOS - The Original Series
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="TOS">
                <a href="" class="dropdown-item">Kirk</a>
                <a href="" class="dropdown-item">Spock</a>
                <a href="" class="dropdown-item">Sulu</a>
                <a href="" class="dropdown-item">Scotty</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-lg-5" href="#" id="TNG and Beyond" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                TNG & Beyond
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="TNG and Beyond">
                <a href="" class="dropdown-item">Picard</a>
                <a href="" class="dropdown-item">Janeway &amp; Voyager</a>
                <a href="" class="dropdown-item">Archer &amp; Enterprise</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>