{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="default-page-container" id="quotes-container">
    <div id="quotes-content">
        <h1 id="quotes-heading">Top 10 Quotes ALL Trekkies should know</h1>
        <ul class="quotes-ul list-unstyled">
        <!-- Populates the quotes list -->
        {% for quote in quotes %}
            <li class="quotes-li">
                <p class="quotes-text mb-1">"{{ quote.quote }}"</p>
                <h2 class="quotes-h2 h5 mb-1">{{ quote.character }}</h2>
                <p class="quotes-text small">{{ quote.source }}</p>
            </li>
        {% empty %}
            <li class="quotes-li">
                <p class="quotes-text">No quotes available yet.</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}